<h1>Contact Info</h1>
<div id= "middle">
  <div id="main_info">
    <img id="head_shot" src="waste_not_want_not.jpg">
    <section id="contact_info">
      <p><%= @info.name %></p>
      <p><%= @info.address %></p>
      <p><%= @info.phone %></p>
      <p><%= @info.email %></p>
      <% if current_user.try(:admin?) %>
        <%= link_to "Edit", "contact/edit" %>
      <% end %>
    </section>
  </div>
</div>