<h1>Admin Home Page</h1>

<p><%= link_to "Patterns", patterns_path %></p>
<p><%= link_to "Posts", "/admin/posts" %></p>
<p><%= link_to "Contact Info", "/contact" %></p>
<p><%= link_to "Display Front", "/admin/display" %></p>
<p><%= link_to "Orders", "/admin/orders" %></p>

