<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
<% end %>
<%= form_for @post, :url => { :action => "update" } do |f| %>

    <p><%= f.label :post %></p>
    <p><%= f.text_area :post %></p>

  <%= f.submit "Update" %>
<% end %>