<%= form_for @pattern, :html => {:multipart => true} do |f| %>
  
  <%= image_tag(@pattern.image_url(:full))  %>
  <p><%= "Current File is: #{@pattern.image_url}" %></p>
  <p><%= f.file_field :image %></p>

  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :description %></p>
  <p><%= f.text_area :description %></p>

  <%= f.submit "Add" %>
  
<% end %>