<div id= "patterns_area">
  <div id="pattern_info">
    <% if current_user.try(:admin?) %>
      <%= link_to "Create New Pattern", new_pattern_path %>
    <% end %>
    <% @patterns.each do |pattern| %>
      <div class="pattern">
        <%= link_to image_tag(pattern.image_url(:full)), pattern_path(pattern.title) %>
        <div class="pattern_title">
          <h2><%= link_to "#{pattern.title}", pattern_path(pattern.title) %></h2>
        </div>
        <div class="pattern_description">
          <p><%= pattern.description || "No description given." %></p>
        </div>
        <% if current_user.try(:admin?) %>
          <%= link_to "Edit", edit_pattern_path(pattern.id) %>
          <%= link_to "Delete", pattern_path(pattern.id), :confirm => "are you sure?", :method => :delete %>
        <% end %>
      </div>
      <br>
    <% end %>
  </div>
</div>


