<!DOCTYPE html>
<html>
<head>
  <title>Rudy Lynn's Quilts</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>

</head>
<body>
  <header>
    <a><%=  image_tag "rudy_logo.png", :id => "logo" %></a>
    <nav>
      <li><a href="/">Home</a></li>
      <li><%= link_to "Patterns", patterns_path %></li>
      <li><a href="/contact">Contact</a></li>
      <% if user_signed_in? %>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
      <% if current_user.try(:admin?) %>
        <li><a href="/admin">Admin</a></li>
      <% end %>
    </nav>
  </header>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <footer id="recent_buys">
    <h2>Other patterns you might like...</h2>
    <% @patterns.each do |pattern| %>
      <div class="tease">
        <%= link_to image_tag("waste_not_want_not.jpg"), pattern_path(pattern.title) %>
        <span><%= "#{pattern.title} Pattern" %></span>
      </div>
    <% end %>
    <% (6 - @patterns.length).times do %>
      <div class="tease">
        <a href="#"><%= image_tag "waste_not_want_not.jpg" %></a>
      </div>
    <% end %>
  </footer>
</body>
</html>
